* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(134, 255, 134);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}


.gameBoard {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;

  }
  
.apple {
    width: 25px;
    height: 25px;
    position: absolute;
  }
  
.score {
    font-size: 24px;
  }
  